* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}


header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
}

h2 {
    user-select: none;
    font-size: 26px;
    font-weight: 700;
    color: aliceblue;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    margin-left: 20px;
    color: aliceblue;
}

nav a:hover {
    text-decoration: underline;
    color: aliceblue;
}

header button {
    outline: none;
    font-size: 16px;
    padding: 8px 20px;
    font-weight: 600;
    letter-spacing: .5px;
    border-radius: 4px;
    background: blue;
    color: aliceblue;
    border: 2px solid black;
    cursor: pointer;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    max-width: 1200px;
    text-align: center;
    color: aliceblue;
}

.main-content h1 {
    font-size: 5rem;
}

.main-content p {
    margin-top: 20px;
    font-size: 18px;
    max-width: 600px;
}

.main-content button {
    margin-top: 22px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 12px 28px;
    border-radius: 6px;
    cursor: pointer;
    background: lightseagreen;
    font-weight: 600;
    letter-spacing: .6px;
}